html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #222;
  font-family: sans-serif;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.drawing-area {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none; /* Imprescindible para dibujo táctil */
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
